.container1{
    height: 90vh;
    width: 100%;
    .todolist-card{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 400px;
      .title{
          color: yellowgreen;
      }

    }
    
    
}




